/*
	Theme Name: Twenty Tewnty Child
	Theme URI: http://localhost/wp/
	Description: Twenty Twenty child theme
	Author: Frankan
	Author: tabone
	Template: twentytwenty
	Version: 1.0.0
*/

.site-title a{
	font-size: 50px;
}

.site-description{
	font-style: italic;
}

p{
	color: #ffffff;
}
a{
	color: #ffffff;
}
.wwoocommerce-products-header__title{
	color: #ffffff;
}

.woocommerce-loop-product__title{
	padding:5px;
	text-align: center;
	background-color:#ffffff;
}

.price{
	padding:5px;
	text-align: center;
	background-color:#ffffff;
}
.entry-header{
	text-align: center;
	height:100px;
	padding: 0px !important;
}

.header-inner {
	padding: 0px;
}

.footer-widgets-outer-wrapper {
	padding: 0px;
}
h1.entry-title,
h2.entry-title{
	font-family:"Calibri";
}

.entry-content p, 
.entry-content li {
	font-family:"Calibri";
	color: #ffffff;
	text-align: center;
}

.special_table{
	color:#ffffff;
	font-family:"Calibri";
}
.special_table tbody{
	border: 3px solid white;
	white-space: nowrap;
	overflow: hidden;
}	

article{
	color:#ffffff;
}

.site-logo img {
	max-height:10rem;
}

.footer-copyright{
	color: black;
}

.woocommerce-account,
.woocommerce-MyAccount-content{
	text-align:center !important;
}

.entry-title.heading-size-1 a{
	color: #ffffff;
}

.post-inner.thin, .entry-content{
	color: black;
}

.entry-content, .lists{
	list-style-type: square;
}

.woocommerce-cart-form{
	color: #ffffff !important;
}
.cart-collaterals{
	color:#ffffff;
}

.woocommerce-cart-form .actions .button{
  background-color: red; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.woocommerce-cart-form table td.product-name a{
	font-size: 20px;
}

.entry-content{
	color:#ffffff;
}